{% extends 'base.html' %} {% block content %}


<div class="row">
    <form action="{{ url_for('insert_recipe', username=username) }}" method="POST" class="col s12">

        <div class="input-field col s12 l5">
            <input id="recipeName" name="recipeName" type="text" class="center-align validate blue-grey darken-4 white-text">
            <label for="recipeName">Recipe Name</label>
        </div>


        <div class="input-field col s12 l5">
            <input id="mainIngredient" name="mainIngredient" type="text" class="validate blue-grey darken-4 white-text">
            <label for="mainIngredient">Main Ingredient</label>
        </div>


        <div class="input-field col s12 l5">
            <input id="ingredients" name="ingredients" type="text" class="validate blue-grey darken-4 white-text">
            <label for="ingredients">List other ingredients</label>
        </div>


        <div class="input-field col s12 l5">
            <input id="allergies" name="allergies" type="text" class=" validate blue-grey darken-4 white-text">
            <label for="allergies">List Allergies</label>
        </div>


        <div class="input-field col s12 l5">
            <input id="author" name="author" type="text" class=" validate blue-grey darken-4 white-text">
            <label for="author">Author</label>
        </div>

        <div class="input-field col s12 l5">
            <select id="cuisine" name="cuisine" type="text" class=" validate blue-grey darken-4 white-text">
            <option value="" disabled selected>Choose Country</option>
                  {% for country in countries %}
                      <option value="{{country.name}}">{{country.name}}</option>
                  {% endfor %}
                </select>
        </div>



        <div class="input-field col s12">
            <textarea id="method" name="method" class="materialize-textarea validate blue-grey darken-4 white-text"></textarea>
            <label for="method">Instructions</label>
        </div>
        
        <div class="row">
            <div>
                <button class="btn waves-effect waves-light deep-orange darken-3 col s4 l2 offset-s4 offset-l5" type="submit" id="submit_new" name="action">Submit
                </button>
            </div>

        </div>
        
    </form>
</div>

{% endblock %}
