<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Bitter|Cabin|Glegoo|Lalezar|Passion+One|Patua+One|Paytone+One|Oswald" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

</head>


  <body>

    <nav>
      <div class="nav-wrapper blue-grey darken-4">
        <a href="{{ url_for('index') }}" class="brand-logo">Cook Book</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{url_for('control_panel', username=username)}}">Home</a></li>
          <li><a href="{{url_for('get_recipe', username=username)}}">Search</a></li>
          <li><a href="{{url_for('add_recipe', username=username)}}">Add</a></li>
          <li><a href="{{url_for('index')}}">Logout</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
          <li><a href="{{url_for('control_panel', username=username)}}">Home</a></li>
          <li><a href="{{url_for('get_recipe', username=username)}}">Search</a></li>
          <li><a href="{{url_for('add_recipe', username=username)}}">Add</a></li>
          <li><a href="{{url_for('index')}}">Logout</a></li>

    </ul>





    {% block content %}{% endblock %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('.sidenav').sidenav();
      });

      $(document).ready(function() {
        $('select').formSelect();
      });
    </script>

</body>


</html>
