{% extends 'base.html' %} {% block content %}

<h2> Hello {{ username }}</h2>
 <p class="title">Please select an option below</p>

<div class="container ctrl">
    <ul>
        <div class="row">
            <a href ="{{url_for('get_recipe', username=username)}}"><li class="btn waves-effect waves-light blue-grey darken-4 col s10 offset-s1 l4 offset-l4">Search</li></a>
        </div>
        <div class="row">
            <a href ="{{url_for('add_recipe', username=username)}}"><li class="btn waves-effect waves-light blue-grey darken-4 col s10 offset-s1 l4 offset-l4">Add</li></a>
        </div>

        <div class="row">
            <a href ="{{url_for('add_recipe', username=username)}}"><li class="btn waves-effect waves-light blue-grey darken-4 col s10 offset-s1 l4 offset-l4">Delete</li></a>
        </div>

        <div class="row">
            <a href ="{{url_for('add_recipe', username=username)}}"><li class="btn waves-effect waves-light blue-grey darken-4 col s10 offset-s1 l4 offset-l4">Edit</li></a>
        </div>
        
                <div class="row">
            <a href ="{{url_for('recipe', username=username)}}"><li class="btn waves-effect waves-light blue-grey darken-4 col s10 offset-s1 l4 offset-l4">View All</li></a>
        </div>
    </ul>
</div>

{% endblock %}
