<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Bitter|Cabin|Glegoo|Lalezar|Passion+One|Patua+One|Paytone+One|Oswald" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

</head>


  <body>


<h1>Cook Book!</h1>
<div class="container">

    <div class="row">
        <p class="title">Existing users, please enter your username below</p>
        <form name="existing" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Existing Username" id="username" type="text" class="validate  col s6 offset-s3 blue-grey darken-4 white-text" name="username" >
                    <button class="btn waves-effect waves-light deep-orange darken-3 col s6 offset-s3" type="submit" id="submit" name="action">Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="container">
    <div class="row">
        <p class="title">New users please click the button below</p>
        <a class="btn waves-effect waves-light deep-orange darken-3 col s6 offset-s3" href="{{ url_for('add_user') }}">
            New User
        </a>
    </div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('.sidenav').sidenav();
      });

      $(document).ready(function() {
        $('select').formSelect();
      });
    </script>

</body>
</html>
